*{
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header{
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}
.menu-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 17px;
    background: #fff;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line{
    display: block;
    width: 20px;
    height: 3px;
    background: #1F2022;
    border-radius: 25px;
}
.logo{
    margin-right: 59px;
}
.input-group {
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    padding-right: 17px;
    align-items: center;
    max-width: 840px;
    width: 50%;
}
.input-search{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 12px 23px 12px;
}
.button-search{
    width: 19px;
    height: 19px;
    border: none;
    background-color:transparent;
}

.icon-search{
    fill: #000;
    opacity: 0.24;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items:center;
    margin-left: auto;
}
.icons-link{
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover{
    opacity: 0.7;
}
.icons-link:not(:last-child){
    margin-right: 50px;
}
.user{
    margin-left: 55px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.sidebar{
    position: fixed;
    width: 200px;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    padding-left: 32px;
    background-color: #fff;
}
.content{
    width: 100%;
    height: 450px;
    margin-top: 85px;
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 30px;
}
.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}
.nav-item{
    margin-bottom: 28px;

    
}
.nav-link{
    color: #898989;
    text-decoration: none;
    display: flex;
    align-items:center;
}
.nav-link:hover{
    color: #FF0000;
}
.nav-link:hover .icon{
    fill: #FF0000;
}
.nav-item .icon{
    fill: #898989;
}
.nav-text{
    margin-left: 13px;

}
.nav-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.channel{
    position: relative;
}
.channel-title{
    display: flex;
    min-height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
}
.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.channel-text{
    margin-left: 20px;
}
.channel-descr{
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
    margin-left: 19px;
}

.video-thumb{
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
}
.thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-duration{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 3px 9px;
}
.video-title{
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}
.video-info{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-views{
    margin-right: 5px;
}
.vidoe-counter{
    display: flex;
}
.video-views:after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;

}
.channel-button{
    cursor: pointer;
}
.button-red{
    position: absolute;
    top: 3%;
    right: 15%;
    width: 154px;
    height: 40px;
    background-color: #FF0000;
    border-radius: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.slider-buttons{
    position: absolute;
    right: 8%;
    top: 12px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 66px;
}
.recommended{
    margin-top: 49px;
}

.recommended-slider .video-thumb{
    
    height: 250px;
}
.recommended .channel-text{
    margin-left: 0;
}
.food{
    margin-top: 50px;
}
.mobile-sidebar{
    display: none;
}
.mobile-search{
    display: none;
}
@media (max-width: 860px) {
    .icons{
        display: none;
    }
    .user{
        margin-left: auto;

    }
}
@media (max-width: 640px) {
    .swiper-wrapper{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .swiper-slide{
        margin-bottom: 40px;
    }
    .video-thumb{
        height: 300px;
    }
    .slider-buttons{
        display: none;
    }
    .mobile-search{
        display: block;
        margin-left: auto;
    }
    .input-group{
        position: fixed;
        top: -100px;
        left: 0;
        opacity: 0;
        width: 100%;
        margin-left: 25px;
        width: 68%;
        transition: top 0.2s;
    }
    .input-group.is-open{
        opacity: 1;
        top: 20px;

    }
    .user{
        margin-left: 20px;

    }
   .menu-button{
       display: none;
   }
   .sidebar{
        display: none;
    }
    .content{
        padding-left: 32px;
    }
    .mobile-sidebar{
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    .mobile-sidebar .nav-link{
        display: flex;
        flex-direction: column;
    }
    .mobile-sidebar .nav-menu{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid #F1F1F1;
    }
    .nav-text{
        margin-left: 0;
    }
    
}